<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cursos</title>
</head>
<body class="bg-zinc-900 text-white min-h-screen">

<nav class="bg-zinc-800 p-4 flex justify-between items-center">
    <div class="flex space-x-6">
        <a href="/" class="text-white hover:text-purple-400 font-bold">Home</a>
        <a href="/cursos/listagem" class="text-white hover:text-purple-400 font-bold">Cursos</a>
        <a href="/usuarios/listagem" class="text-white hover:text-purple-400 font-bold">Usuários</a>
        <a href="/professores/listagem" class="text-white hover:text-purple-400 font-bold">Professores</a>
    </div>
</nav>


<div class="flex flex-col items-center mt-10">

    <h1 class="text-4xl font-bold mb-10 text-purple-400">API de Gestão de Cursos</h1>


    <div class="w-3/4 max-w-4xl bg-zinc-800 p-6 rounded-lg shadow-lg">
        <div class="flex flex-col items-center mt-10 mb-10">
            <p>Bem vindos!!!</p>
            <p>Selecione os menus acima para gerencias as opções da API de Gestão de Cursos.</p>
            <p>API desenvolvida como requisito do treinamento de JAVA oferido pela RocketSeat.</p>
        </div>
    </div>
</div>
</body>
</html>

